body{
  background-color: #111;
}
.cars{
  margin: 10px;
}
#car-gifs{
  width: 100%;
}
.item{
  display: inline-block;
  margin: 10px;
  padding: 10px;
  width: 240px;
}
.item img{
  max-width: 230px;
  max-height: 180px;
}
#car-input{
  margin: 5px 10px;
  padding: 3px;
}
#add-car{
  align-items: center;
  margin: 0 10px;
}